:root {
    --width-key: 40px;
    --height-key: 30px;
    --separation-key: 5px;
    --input-height: 50px;
}

.calculator-box {
    width: calc(var(--width-key)*4 + var(--separation-key)*3);
    height: 200px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    /* border: 1px solid red; */
    background-color: black;
    border-radius: 5px 5px;
}
.input-field {
    height: var(--input-height);
    border-radius: 5px 5px;
    background-color: black;
    outline: none;
    border: 1px solid black;
    color: white;
}
.row {
    display: flex;
    gap: var(--separation-key);  /* espacio entre cajas */
    margin: 4px 0;
}
.key {
    height: var(--height-key);
    width: var(--width-key);
    border-radius: 3px;
    border: 1px solid black;
}
button.key{
    font: bold 12px Verdana, sans-serif;
    color:white;
}
button.key-operator{
    background-color: rgb(253, 149, 3);
}
button.key-number{
    background-color:black;
}
button.key-result-restart{
    color: black;
}
